.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 60vh;
  padding: 20px; /* Add padding */
  background-color: #ffffff; /* Add a background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

h1 {
  text-align: center;
  color: #fefffe;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Add a text border */
}

p {
  text-align: center;
  max-width: 900px;
  font-size: 20px;
  line-height: 1.5; /* Increase the line height for better readability */
}

