<!-- <header>
    <div class="logo">
        <h1>Online Customized Gift Portal</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/signup">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/admin/dashboard" *ngIf="isAdmin">Dashboard</a></li>
                <li><a routerLink="/customer/dashboard" *ngIf="isCustomer">Dashboard</a></li>
                <li>
                    <button class="button button-logout" (click)="showLogoutPopup = true">
                        Logout
                    </button>
                </li>
            </ng-container>
        </ul>   
    </nav>
</header>

<div *ngIf="showLogoutPopup" class="logout-popup">
    <div class="logout-popup-content">
        <p>Are you sure you want to logout?</p>
        <button (click)="logout(); showLogoutPopup = false" id="logout-btn" class="button button-yes">
            Yes, Logout
        </button>
        <button (click)="showLogoutPopup = false" class="button button-cancel">Cancel</button>
    </div>
</div> -->
<header>
    <div class="logo">
        <h1>Online Customized Gift Portal</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/signup">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                <!-- <li><a routerLink="/" class="link home-link">Home</a></li> -->
                <div class="link home-link" [routerLink]="['/']" [class.active]="isActive('/')">Home</div>
                <li *ngIf="isAdmin">
                    <!-- <a routerLink="/admin/dashboard">Admin Dashboard</a> -->
                    <div class="container">
                        <div class="link my-gifts-link" [routerLink]="['/admin/gifts/view']" [class.active]="isActive('/admin/gifts/view')">My Gifts</div>
                        <div class="link add-gifts-link" [routerLink]="['/admin/addgift']" [class.active]="isActive('/admin/addgift')">Add Gifts</div>
                        <div class="link view-orders-link" [routerLink]="['/admin/vieworders']" [class.active]="isActive('/admin/vieworders')">View Orders</div>
                        <div class="link view-review-link" [routerLink]="['/admin/viewreview']" [class.active]="isActive('/admin/viewreview')">View Review</div>
                      </div>
                </li>
                <li *ngIf="isCustomer">
                    <!-- <a routerLink="/customer/dashboard">Customer Dashboard</a> -->
                    <div class="container">
                        <div class="link my-gifts-link" [routerLink]="['/customer/gifts/view']" [class.active]="isActive('/customer/gifts/view')">Gifts</div>
                        <div class="link add-gifts-link" [routerLink]="['/customer/mycart']" [class.active]="isActive('/customer/mycart')">My Cart</div>
                        <div class="link view-orders-link" [routerLink]="['/customer/myorders']" [class.active]="isActive('/customer/myorders')">My Orders</div>
                        <!-- <div class="link view-orders-link" [routerLink]="['/customer/addreview']" [class.active]="isActive('/customer/addreview')">Add review</div> -->
                      </div>
                    
                </li>
                <li>
                    <button class="button button-logout" (click)="showLogoutPopup = true">
                        Logout
                    </button>
                </li>
            </ng-container>
        </ul>   
    </nav>
</header>

<div *ngIf="showLogoutPopup" class="logout-popup">
    <div class="logout-popup-content">
        <p>Are you sure you want to logout?</p>
        <button (click)="logout(); showLogoutPopup = false" id="logout-btn" class="button button-yes">
            Yes, Logout
        </button>
        <button (click)="showLogoutPopup = false" class="button button-cancel">Cancel</button>
    </div>
</div>
