nav {
  background-color: #3f5bab;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
 
 
.nav-links{
display:flex;
justify-content: center;
align-items: center;
}
 
a:focus {
outline: none;
border:1px solid #f0f0f0;
border-radius: 5px;
background-color: blue;
}
 
nav h1 {
  display: inline;
  margin-right: 10px;
}
 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
 
nav ul li {
  margin-right: 20px;
}
 
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
 
nav ul li a:hover {
  color: #ddd;
}
li.app-customer-dashboard {
margin-right: 0px;
}
.logout-popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.logout-popup-content {
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding:50px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 17px;
}
 
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
 
.button-logout {
  background-color: transparent;
  color: white;
  margin-left: 0px;
}
 
.button-yes {
  background-color: #f44336;
  color: white;
}
 
.button-cancel {
  background-color: #ecebea;
  color: black;
  border: 1px solid black;
}
 
 
body::before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  backdrop-filter: blur(50px);
}
 
body.blur::before {
  display: block;
}
 
 
 