@model List<dotnetapp.Models.Book>

<h2>Books Associated with Library Card</h2>

<ul>
    @foreach (var book in Model)
    {
        <li>ID: @book.Id</li>
        <li>Title: @book.Title</li>
        <li>Author: @book.Author</li>
        <li>Published Year: @book.PublishedYear</li>
    }
</ul>
