<div class="container">
    <h2>Book List</h2>
  
    <div *ngIf="books.length === 0" class="no-classes-message">
        No books available.
    </div>
  
    <table *ngIf="books.length > 0" class="class-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>ISBN</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books" class="book-item">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.price | currency }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <button id="delete" class="delete-button" (click)="deleteBook(book.bookId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
