<!-- <div class="container">
     <h1>Login</h1>
   
     <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
       <label for="email">Email:</label>
       <input type="text" id="email" [(ngModel)]="email" name="email" [ngModelOptions]="{standalone: true}" required
              #emailNgModel="ngModel">
       <div *ngIf="emailNgModel.invalid && (emailNgModel.dirty || emailNgModel.touched)"
            class="error-message">Email is required</div>
   
       <label for="password">Password:</label>
       <input type="password" id="password" [(ngModel)]="password" name="password" [ngModelOptions]="{standalone: true}" required
              #passwordNgModel="ngModel">
       <div *ngIf="passwordNgModel.invalid && (passwordNgModel.dirty || passwordNgModel.touched || loginForm.submitted)"
            class="error-message">Password is required</div>
   
       <div *ngIf="error" class="error-message">{{ error }}</div>
   
       <button type="submit" [disabled]="loginForm.invalid">Login</button>
     </form>
   
     <p class="register-link">Don't have an account? <a href="/register">Register here</a></p>
   </div>
   


     -->
     <div class="main-container">
       <div class="container">
           <h1>Login</h1>
         
           <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
             <label for="email" style="position: relative;"> <!-- Add relative positioning to the label -->
               Email:<span class="asterisk">*</span>
               <input type="text" id="email" [(ngModel)]="email" name="email" [ngModelOptions]="{standalone: true}" required
                      #emailNgModel="ngModel">
             </label>
             <div *ngIf="emailNgModel.invalid && emailNgModel.touched && emailNgModel.errors?.required" class="error-message">Email is required</div>
         
             <label for="password" style="position: relative;">
               Password:<span class="asterisk">*</span>
               <input type="password" id="password" [(ngModel)]="password" name="password" [ngModelOptions]="{standalone: true}" required
                      #passwordNgModel="ngModel">
             </label>
             <div *ngIf="passwordNgModel.invalid && passwordNgModel.touched && passwordNgModel.errors?.required" class="error-message">Password is required</div>
         
             <div *ngIf="error" class="error-message">{{ error }}</div>
         
             <button type="submit" [disabled]="loginForm.invalid">Login</button>
           </form>
         
           <p class="register-link">Don't have an account? <a href="/signup">Register here</a></p>
       </div>
   </div>
   
   
  