.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

h1{
    text-align: center;
    color: #3f5bab;
}

p{
    text-align: center;
    max-width: 900px;
    font-size: 20px;
}