body::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
}

.site-title {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

body.blur::before {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #040404 0%, #784BA0 33%, #2B86C5 66%, #040404 100%);
  color: white;
}

nav h1 {
  display: inline;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  color: #ddd;
}

li.app-customer-dashboard {
  margin-right: 0;
}

a:focus {
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: rgb(162, 120, 188);
}

.logout-popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-popup-content {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 50px;
  text-align: center;
  font-size: 17px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button-logout {
  color: #f44336;
  border: 2px solid #f44336;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button-yes {
  background-color: #f44336;
  color: white;
}

.button-cancel {
  background-color: #ecebea;
  color: black;
  border: 1px solid black;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-bottom: 2px;
}

.role {
  display: flex;
  flex-direction: column;
}

.user-role {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
}
