<div class="main-container">
    <div class="sub-container">
        <button class="back-btn" (click)="goBack()">Back</button>

        <ng-container *ngIf="isEditMode; else addVenueForm">
            <h1>Edit Venue</h1>
        </ng-container>
        <ng-template #addVenueForm>
            <h1>Create New Venue</h1>
        </ng-template>
        <form [formGroup]="venueForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="venueName">Venue Name<span class="asterisk">*</span></label>
                <input type="text" id="venueName" formControlName="venueName">
                <div *ngIf="venueForm.get('venueName').hasError('required') && venueForm.get('venueName').touched"
                    class="error-message">
                    *Venue Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="venueImage">Venue Image<span class="asterisk">*</span></label>
                <input type="file" id="venueImage" formControlName="venueImage" (change)="handleFileChange($event)"
                    accept=".png, .jpg">
                <div *ngIf="venueForm.get('venueImage').hasError('required') && venueForm.get('venueImage').touched"
                    class="error-message">
                    *Venue Image is required.
                </div>
            </div>

            <div class="form-group">
                <label for="venueDescription">Venue Description<span class="asterisk">*</span></label>
                <textarea id="venueDescription" formControlName="venueDescription"></textarea>
                <div *ngIf="venueForm.get('venueDescription').hasError('required') && venueForm.get('venueDescription').touched"
                    class="error-message">
                    *Venue Description is required.
                </div>
            </div>

            <div class="form-group">
                <label for="venueLocation">Venue Location<span class="asterisk">*</span></label>
                <input type="text" id="venueLocation" formControlName="venueLocation">
                <div *ngIf="venueForm.get('venueLocation').hasError('required') && venueForm.get('venueLocation').touched"
                    class="error-message">
                    *Venue Location is required.
                </div>
            </div>

            <div class="button-submit">
                <button class="button-submit" type="submit">{{ isEditMode ? 'Update Venue' : 'Create Venue' }}</button>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                *{{ errorMessage }}
            </div>
        </form>
    </div>
</div>