.parent {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-container {
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .h{
    font-size: 2.1em; /* Adjust font size */
    color: hsl(0deg 94.82% 54.37%); /* Adjust color if needed */
  }
  
  .p {
    font-size: 1.3em; /* Adjust font size */
    color: black;
  }
  