nav {
    /* background-color: #4caf50; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  a:focus {
  outline: none;
  border:1px solid #f0f0f0;
  border-radius: 5px;
  background-color: blue;
  }
  
  nav h1 {
    display: inline;
    margin-right: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  nav ul li {
    display: inline;
    margin-right: 40px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    color: #ddd;
  }
  