@model TaskItem

<!DOCTYPE html>
<html>
<head>
    <title>Edit Task Item</title>
</head>
<body>
    <h1>Edit Task Item</h1>
    <form asp-controller="TaskItem" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="TaskListId" />
        
        <label asp-for="Description">Description:</label><br />
        <input asp-for="Description" /><br /><br />
        
        <label asp-for="IsCompleted">Is Completed:</label>
        <input asp-for="IsCompleted" type="checkbox" /><br /><br />
        
        <input type="submit" value="Save Changes" />
    </form>
</body>
</html>
