/* dashboard.component.css */

p {
    padding: 10px;
    border: 1px solid #ced4da; /* Light border color */
    border-radius: 5px;
    margin-bottom: 10px; /* Adjust the spacing between expense items */
    background-color: #f8f9fa; /* Light grey background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  /* Optional: Add some styling for better readability */
  
  /* Align text to the left */
  .text-left {
    text-align: left;
  }
  
  /* Add some space between expense details */
  .expense-details {
    margin-right: 10px;
    font-weight: bold;
  }
  
  /* Add different background colors for odd and even expense items */
  .expense-item:nth-child(odd) {
    background-color: #f0f8ff; /* AliceBlue */
  }
  
  .expense-item:nth-child(even) {
    background-color: #f5f5f5; /* LavenderBlush */
  }
  

  /* Add this CSS in your styles.css or the respective style file */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Adjust margin as needed */
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}
