@model dotnetapp.Models.Verification


<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
</form>
