<div>
    <div class="loan-form-container" [ngClass]="{ blur: successPopup }">
      <h2>Create New Project</h2>
      <hr>
      <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

        <label for="ProposalId">ProposalId<span class="required">*</span></label>
        <input
          type="number"
          name="ProposalId"
          [(ngModel)]="formData.ProposalId"
          placeholder="ProposalId"
          required
          #ProposalId="ngModel"
          (change)="handleChange($event, 'ProposalId')"
        />
        <div class="error" *ngIf="ProposalId.invalid && ProposalId.touched">
          *ProposalId is required
        </div>
  
  
        <label for="ProjectTitle">ProjectTitle<span class="required">*</span></label>
        <input
          type="text"
          name="ProjectTitle"
          [(ngModel)]="formData.ProjectTitle"
          placeholder="ProjectTitle"
          required
          #ProjectTitle="ngModel"
          (change)="handleChange($event, 'ProjectTitle')"
        />
        <div class="error" *ngIf="ProjectTitle.invalid && ProjectTitle.touched">
          *ProjectTitle is required
        </div>
        <label for="ProjectDescription">ProjectDescription<span class="required">*</span></label>
        <input
          type="text"
          name="ProjectDescription"
          [(ngModel)]="formData.ProjectDescription"
          placeholder="ProjectDescription"
          required
          #ProjectDescription="ngModel"
          (change)="handleChange($event, 'ProjectDescription')"
        />
        <div class="error" *ngIf="ProjectDescription.invalid && ProjectDescription.touched">
          *ProjectDescription is required
        </div>
  
  
        <label for="StartDate">StartDate<span class="required">*</span></label>
        <input
          type="date"
          name="StartDate"
          [(ngModel)]="formData.StartDate"
          placeholder="StartDate"
          required
          #StartDate="ngModel"
          (change)="handleChange($event, 'StartDate')"
        />
        <div class="error" *ngIf="StartDate.invalid && StartDate.touched">
          *StartDate  is required
        </div>

        <label for="EndDate">EndDate<span class="required">*</span></label>
        <input
          type="date"
          name="EndDate"
          [(ngModel)]="formData.EndDate"
          placeholder="EndDate"
          required
          #EndDate="ngModel"
          (change)="handleChange($event, 'EndDate')"
        />
        <div class="error" *ngIf="EndDate.invalid && EndDate.touched">
          *EndDate  is required
        </div>

        <label for="Satus">Satus<span class="required">*</span></label>
        <input
          type="text"
          name="Satus"
          [(ngModel)]="formData.Satus"
          placeholder="Satus"
          required
          #Satus="ngModel"
          (change)="handleChange($event, 'Satus')"
        />
        <div class="error" *ngIf="Satus.invalid && Satus.touched">
          *Satus  is required
        </div>

        <label for="FrontEndTechStack">FrontEndTechStack<span class="required">*</span></label>
        <input
          type="text"
          name="FrontEndTechStack"
          [(ngModel)]="formData.FrontEndTechStack"
          placeholder="ProjectDescription"
          required
          #FrontEndTechStack="ngModel"
          (change)="handleChange($event, 'FrontEndTechStack')"
        />
        <div class="error" *ngIf="FrontEndTechStack.invalid && FrontEndTechStack.touched">
          *FrontEndTechStack  is required
        </div>

        <label for="BackendEndTechStack">BackendEndTechStack<span class="required">*</span></label>
        <input
          type="text"
          name="BackendEndTechStack"
          [(ngModel)]="formData.BackendEndTechStack"
          placeholder="BackendEndTechStack"
          required
          #BackendEndTechStack="ngModel"
          (change)="handleChange($event, 'BackendEndTechStack')"
        />
        <div class="error" *ngIf="BackendEndTechStack.invalid && BackendEndTechStack.touched">
          *BackendEndTechStack  is required
        </div>

        <label for="Database">ProjectDescription<span class="required">*</span></label>
        <input
          type="text"
          name="Database"
          [(ngModel)]="formData.Database"
          placeholder="Database"
          required
          #Database="ngModel"
          (change)="handleChange($event, 'Database')"
        />
        <div class="error" *ngIf="Database.invalid && Database.touched">
          *Database  is required
        </div>


        <!-- <label for="ProjectDescription">ProjectDescription<span class="required">*</span></label>
        <input
          type="text"
          name="ProjectDescription"
          [(ngModel)]="formData.ProjectDescription"
          placeholder="ProjectDescription"
          required
          #ProjectDescription="ngModel"
          (change)="handleChange($event, 'ProjectDescription')"
        /> -->
        <div class="error" *ngIf="ProjectDescription.invalid && ProjectDescription.touched">
          *Status  is required
        </div>
  
  
    <div *ngIf="successPopup" class="success-popup">
      <p>Successfully Added!</p>
      <button (click)="handleSuccessMessage()">Ok</button>
    </div>
  </div>
  
