@model dotnetapp.Models.Booking

<h1>Book Vehicle</h1>

@using (Html.BeginForm("Create", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(model => model.VehicleId)
    
    <label for="StartDate">Start Date:</label>
    <input type="date" id="StartDate" name="StartDate" required>

    <label for="EndDate">End Date:</label>
    <input type="date" id="EndDate" name="EndDate" required>

    <input type="submit" value="Book">
}
