<div class="container">
    <h2>Phone List</h2>
  
    <div *ngIf="phones.length === 0" class="no-phones-message">
        No phones available.
    </div>
  
    <table *ngIf="phones.length > 0" class="phone-table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Screen Size</th>
                <th>Storage Capacity</th>
                <th>RAM</th>
                <th>Battery Capacity</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let phone of phones" class="phone-item">
                <td>{{ phone.brand }}</td>
                <td>{{ phone.model }}</td>
                <td>{{ phone.screenSize }}</td>
                <td>{{ phone.storageCapacity }}</td>
                <td>{{ phone.ram }}</td>
                <td>{{ phone.batteryCapacity }}</td>
                <td>
                    <button id="delete" class="delete-button" (click)="deletePhone(phone.phoneId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
