<!-- <div class="container">
  <div class="link my-gifts-link" [routerLink]="['/admin/gifts/view']">My Gifts</div>
  <div class="link add-gifts-link" [routerLink]="['/admin/addgift']">Add Gifts</div>
  <div class="link view-orders-link" [routerLink]="['/admin/vieworders']">View Orders</div>
  <div class="link view-orders-link" [routerLink]="['/admin/viewreview']">View Review</div>
</div> -->
<!-- <div class="container">
  <div class="link my-gifts-link" [routerLink]="['/admin/gifts/view']" [class.active]="isActive('/admin/gifts/view')">My Gifts</div>
  <div class="link add-gifts-link" [routerLink]="['/admin/addgift']" [class.active]="isActive('/admin/addgift')">Add Gifts</div>
  <div class="link view-orders-link" [routerLink]="['/admin/vieworders']" [class.active]="isActive('/admin/vieworders')">View Orders</div>
  <div class="link view-review-link" [routerLink]="['/admin/viewreview']" [class.active]="isActive('/admin/viewreview')">View Review</div>
</div> -->
