<!-- team.component.html -->
<div class="main-container">
    <div class="sub-container">
        <button class="back-btn" (click)="goBack()">Back</button>

        <ng-container *ngIf="isEditMode; else addTeamForm">
            <h1>Edit Team</h1>
        </ng-container>
        <ng-template #addTeamForm>
            <h1>Create New Team</h1>
        </ng-template>

        <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="TeamName">Team Name<span class="asterisk">*</span></label>
                <input type="text" id="TeamName" formControlName="TeamName">
                <div *ngIf="teamForm.get('TeamName').hasError('required') && teamForm.get('TeamName').touched"
                    class="error-message">
                    *Team Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="TeamImageURL">Team Image<span class="asterisk">*</span></label>
                <input type="file" id="TeamImageURL" formControlName="TeamImageURL" (change)="handleFileChange($event)"
                    accept=".png, .jpg">
                <div *ngIf="teamForm.get('TeamImageURL').hasError('required') && teamForm.get('TeamImageURL').touched"
                    class="error-message">
                    *Team Image is required.
                </div>
            </div>

            <div class="form-group">
                <label for="TeamDescription">Team Description<span class="asterisk">*</span></label>
                <textarea id="TeamDescription" formControlName="TeamDescription"></textarea>
                <div *ngIf="teamForm.get('TeamDescription').hasError('required') && teamForm.get('TeamDescription').touched"
                    class="error-message">
                    *Team Description is required.
                </div>
            </div>



            <div class="button-submit">
                <button class="button-submit" type="submit">{{ isEditMode ? 'Update Team' : 'Create Team' }}</button>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                *{{ errorMessage }}
            </div>
        </form>
    </div>
</div>