<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <!-- <li><a routerLink="/customer/view/resort" *ngIf="isCustomer">Resorts</a></li>
      <li><a routerLink="/customer/view/bookings" *ngIf="isCustomer">Bookings</a></li> -->
      <li *ngIf="isCustomer">
        <a routerLinkActive="active">Reviews</a>
        <ul class="sub-menu">
          <!-- <li><a routerLink="/customer/add/review">Add Review</a></li>
          <li><a routerLink="/customer/view/review">My Review</a></li> -->
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>

