@model dotnetapp.Models.Vehicle

<h1>Add Vehicle</h1>

@* @using (Html.BeginForm("Create", "Vehicle", FormMethod.Post))  *@
@using (Html.BeginForm("Create", "Booking", FormMethod.Post)) 
{
    <div>
        <label for="VehicleId">Vehicle ID:</label>
        <input type="text" id="VehicleId" name="VehicleId" />
    </div>
    <div>
        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model" />
    </div>
    <div>
        <label for="Date">Date:</label>
        <input type="date" id="Date" name="Date" />
    </div>
    <div>
        <label for="Color">Color:</label>
        <input type="text" id="Color" name="Color" />
    </div>
    
    <button type="submit">Submit</button>

}
