@model IEnumerable<dotnetapp.Models.Vehicle>

@* <h1>Vehicle List</h1> *@

<h2>Add Vehicle</h2>
<a asp-action="Create">Add New</a> 

<table>
    <thead>
        <tr>
            <th>Vehicle ID</th>
            <th>Model</th>
            <th>Date</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.VehicleId</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Date.ToShortDateString()</td>
                <td>@vehicle.Color</td>
            </tr>
        }
    </tbody>
</table>


