<div class="main-container">
  <div class="sub-container">
    <button class="back-btn" (click)="goBack()">Back</button>

    <ng-container *ngIf="isEditMode; else addEventForm">
      <h1>Edit Event</h1>
    </ng-container>
    <ng-template #addEventForm>
      <h1>Create New Event</h1>
    </ng-template>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="EventName">Event Name<span class="asterisk">*</span></label>
        <input type="text" id="EventName" formControlName="EventName">
        <div *ngIf="eventForm.get('EventName').hasError('required') && eventForm.get('EventName').touched" class="error-message">
          *Event Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="EventImageURL">Event Image<span class="asterisk">*</span></label>
        <input type="file" id="EventImageURL" formControlName="EventImageURL" (change)="handleFileChange($event)"
          accept=".png, .jpg">
        <div *ngIf="eventForm.get('EventImageURL').hasError('required') && eventForm.get('EventImageURL').touched" class="error-message">
          *Event Image is required.
        </div>
      </div>
      <!-- <input type="date" id="StartDate" formControlName="StartDate" [min]="getTodayDate()" [value]="eventForm.get('StartDate').value | date:'yyyy-MM-dd'"> -->

      <div class="form-group">
        <div class="validation">
            <label for="StartDate">Start Date<span class="asterisk">*</span></label>
        </div>
        <input type="date" id="StartDate" formControlName="StartDate" [min]="getTodayDate()"
            [value]="eventForm.get('StartDate').value | date:'yyyy-MM-dd'" required>
        <div *ngIf="eventForm.get('StartDate').hasError('required') && eventForm.get('StartDate').touched"
            class="error-message">
            *Start Date is required.
        </div>
    </div>
    
    
    <div class="form-group">
        <div class="validation">
            <label for="EndDate">End Date<span class="asterisk">*</span></label>
        </div>
        <input type="date" id="EndDate" formControlName="EndDate" [min]="getTodayDate()" [disabled]="!eventForm.get('StartDate').value" [value]="eventForm.get('EndDate').value | date:'yyyy-MM-dd'" required>
        <div *ngIf="eventForm.get('EndDate').hasError('required') && eventForm.get('EndDate').touched"
            class="error-message">
            *End Date is required.
        </div>
        <div *ngIf="eventForm.hasError('dateRangeError') && eventForm.touched" class="error-message">
            *Start Date must be before or equal to End Date.
        </div>
    </div>
    

      <div class="form-group">
        <label for="Description">Description<span class="asterisk">*</span></label>
        <textarea id="Description" formControlName="Description"></textarea>
        <div *ngIf="eventForm.get('Description').hasError('required') && eventForm.get('Description').touched" class="error-message">
          *Description is required.
        </div>
      </div>

      <div class="button-submit">
        <button class="button-submit" type="submit">{{ isEditMode ? 'Update Event' : 'Create Event' }}</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        *{{ errorMessage }}
      </div>
    </form>
  </div>
</div>
