<div>
  <h2>All Reviews</h2>
  <table>
    <thead>
      <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Lead Cast</th>
        <th>Release Date</th>
        <th>Review Date</th>
        <th>Comments</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{ review.movieName }}</td>
        <td>{{ review.movieDirector }}</td>
        <td>{{ review.leadCast }}</td>
        <td>{{ review.movieReleaseDate | date }}</td>
        <td>{{ review.movieReviewDate | date }}</td>
        <td>{{ review.reviewComments }}</td>
        <td>{{ review.rating }}/5</td>
        <td>
          <button id="delete" class="delete-button" (click)="deleteReview(review.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
