/* Add this to your existing CSS styles or create a new section for form styling */
.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: #ffffff; /* Set your desired background color */
    padding: 20px;
    border-radius: 8px;
    width:30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow with color and transparency */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea,select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff; /* Set your desired button color */
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Set your desired button hover color */
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  .rating-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rating-option {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .rating-option input {
    margin-bottom: 5px;
  }
  
  .validation{
    display: flex;
  }
  
  label{
    color: black !important;
  }
  
  