<div id="adminRefereeDashboard" [ngClass]="{ blur: showDeletePopup }">
    <div class="top-head">
      <button class="add-btn-grad" (click)="navigateToAddReferee()">Add Referee</button>
    </div>
    <h1>Referee Dashboard</h1>
  
    <div class="referee-grid">
      <div class="referee-item" *ngFor="let referee of referees">
        <div class="referee-details">
          <img [src]="referee.RefereeImageURL" alt="Referee Image" class="referee-image" />
          <h2>{{ referee.RefereeName }}</h2>
          <p>No. of Matches: {{ referee.NoOfMatches }}</p>
        </div>
        <div class="referee-actions">
          <button class="delete-btn-grad btn-danger" (click)="showDeletePopup = true; selectedReferee = referee;">
            Delete
          </button>
          <button class="edit-btn-grad" (click)="navigateToEditReferee(referee)">Edit</button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="deleteReferee(selectedReferee); showDeletePopup = false" id="delete-btn">
      Yes, Delete
    </button>
    <button (click)="showDeletePopup = false" class="cancel-btn">Cancel</button>
  </div>
  