<!-- Employee  Navigation -->

<ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isEmployee">

            <a routerLinkActive="active">ProjextProposal</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/proposal/create">Create</a></li>
                <li><a routerLink="/employee/proposal/view">Views</a></li>
                <li><a routerLink="/employee/proposal/update">Edit</a></li>
                <li><a routerLink="/employee/proposal/delete">Delkete</a></li>
            </ul>
        </li>
        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Project</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/project/view">view</a></li>             
            </ul>
        </li>

        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Task</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/task/view">View</a></li>
                <li><a routerLink="employee/task/edit">Edit</a></li>             
            </ul>
        </li>
        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Feedbacks</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/feedback/create">Give Feedback</a></li>
                <li><a routerLink="/employee/feedback/myfeedback">View Feedback</a></li>
            </ul>
        </li>




    </ng-container>
</ul>