<div id="adminPlayerDashboard" [ngClass]="{ blur: showDeletePopup }">
    <div class="top-head">
        <button class="add-btn-grad" (click)="navigateToAddPlayer()">Add Player</button>
    </div>
    <h1>Player Dashboard</h1>

    <div class="player-grid">
        <div *ngIf="players.length > 0; else noRecords">
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Player Name</th>
                        <th>Age</th>
                        <th>Country</th>
                        <th>Batting Style</th>
                        <th>Bowling Style</th>
                        <th>Date of Birth</th>
                        <th>Role</th>
                        <th>Total Matches Played</th>
                        <!-- <th>Total Runs Scored</th>
                        <th>Total Wickets Taken</th>
                        <th>Total Catches</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players; let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ player.PlayerName }}</td>
                        <td>{{ player.Age }}</td>
                        <td>{{ player.Country }}</td>
                        <td>{{ player.BattingStyle }}</td>
                        <td>{{ player.BowlingStyle }}</td>
                        <td>{{ player.DateOfBirth | date:'mediumDate' }}</td>
                        <td>{{ player.Role }}</td>
                        <td>{{ player.TotalMatchesPlayed }}</td>
                        <!-- <td>{{ player.TotalRunsScored }}</td>
                        <td>{{ player.TotalWicketsTaken }}</td>
                        <td>{{ player.TotalCatches }}</td> -->
                        <td>
                            <button class="delete-btn-grad btn-danger" (click)="showDeletePopup = true; selectedPlayer = player;">
                                Delete
                            </button>
                            <button class="edit-btn-grad" (click)="navigateToEditPlayer(player)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noRecords>
            <div id="no-records">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-data-found-8867280-7265556.png?f=webp" alt="No Records Found" />
                <h1>No records found</h1>
            </div>
        </ng-template>
    </div>
</div>

<div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="deletePlayer(selectedPlayer.PlayerId); showDeletePopup = false" id="delete-btn">
        Yes, Delete
    </button>
    <button (click)="showDeletePopup = false" class="cancel-btn">Cancel</button>
</div>
