<!-- <app-dashboard></app-dashboard>
<h2>Edit Gift</h2>

<form [formGroup]="editGiftForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="giftType">Gift Type:</label>
    <input type="text" id="giftType" formControlName="giftType">
    <div *ngIf="editGiftForm.get('giftType').hasError('required') && editGiftForm.get('giftType').touched" class="error-message">
      *Gift type is required.
    </div>
  </div>

  <div class="form-group">
    <label for="giftImageUrl">Gift Image URL:</label>
    <input type="text" id="giftImageUrl" formControlName="giftImageUrl">
    <div *ngIf="editGiftForm.get('giftImageUrl').hasError('required') && editGiftForm.get('giftImageUrl').touched"
      class="error-message">
      *Gift image URL is required.
    </div>
  </div>

  <div class="form-group">
    <label for="giftDetails">Gift Details:</label>
    <textarea id="giftDetails" formControlName="giftDetails"></textarea>
    <div *ngIf="editGiftForm.get('giftDetails').hasError('required') && editGiftForm.get('giftDetails').touched"
      class="error-message">
      *Gift details are required.
    </div>
  </div>

  <div class="form-group">
    <label for="quantity">Quantity:</label> 
    <input type="number" id="quantity" formControlName="quantity"> 
    <div *ngIf="editGiftForm.get('quantity').hasError('required') && editGiftForm.get('quantity').touched" class="error-message">
        *Quantity is required.
    </div>
    <div *ngIf="editGiftForm.get('quantity').hasError('min') && editGiftForm.get('quantity').touched" class="error-message">
        *Quantity must be greater than 0.
    </div>
</div>

  <div class="form-group">
    <label for="giftPrice">Price:</label>
    <input type="number" id="giftPrice" formControlName="giftPrice">
    <div *ngIf="editGiftForm.get('giftPrice').hasError('required') && editGiftForm.get('giftPrice').touched"
      class="error-message">
      *Price is required.
    </div>
    <div *ngIf="editGiftForm.get('giftPrice').hasError('min') && editGiftForm.get('giftPrice').touched" class="error-message">
      *Price must be greater than 0.
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    *{{ errorMessage }}
  </div>

  <div class="add-btn">
    <button type="submit">Update Gift</button>
  </div>
</form> -->


<app-dashboard></app-dashboard>
<h2>Edit Gift</h2>

<form [formGroup]="editGiftForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="giftType"> <!-- Remove position: relative from label -->
      Gift Type:<span class="asterisk">*</span>
      <input type="text" id="giftType" formControlName="giftType">
      <div *ngIf="editGiftForm.get('giftType').invalid && editGiftForm.get('giftType').touched" class="error-message">Gift Type is required</div> <!-- Display the error message conditionally -->
    </label>
  </div><br>

  <div class="form-group">
    <label for="giftImageUrl">
      Gift Image:<span class="asterisk">*</span>
      <input type="file" id="giftImageUrl" formControlName="giftImageUrl" (change)="handleFileChange($event)"
            accept=".png, .jpg">
      <div *ngIf="editGiftForm.get('giftImageUrl').invalid && editGiftForm.get('giftImageUrl').touched" class="error-message">Gift Image is required</div> <!-- Display the error message conditionally -->
    </label>
  </div><br>

  <div class="form-group">
    <label for="giftDetails">
      Gift Details:<span class="asterisk">*</span>
      <textarea id="giftDetails" formControlName="giftDetails"></textarea>
      <div *ngIf="editGiftForm.get('giftDetails').invalid && editGiftForm.get('giftDetails').touched" class="error-message">Gift Details is required</div> <!-- Display the error message conditionally -->
    </label>
  </div><br>

  <div class="form-group">
    <label for="quantity">
      Quantity:<span class="asterisk">*</span>
      <input type="number" id="quantity" formControlName="quantity">
      <div *ngIf="editGiftForm.get('quantity').invalid && editGiftForm.get('quantity').touched" class="error-message">Quantity is required</div> <!-- Display the error message conditionally -->
      <div *ngIf="editGiftForm.get('quantity').hasError('min') && editGiftForm.get('quantity').touched" class="error-message">Quantity must be greater than zero</div> <!-- Display the error message conditionally -->
    </label>
  </div><br>

  <div class="form-group">
    <label for="giftPrice">
      Price:<span class="asterisk">*</span>
      <input type="number" id="giftPrice" formControlName="giftPrice">
      <div *ngIf="editGiftForm.get('giftPrice').invalid && editGiftForm.get('giftPrice').touched" class="error-message">Price is required</div> <!-- Display the error message conditionally -->
      <div *ngIf="editGiftForm.get('giftPrice').hasError('min') && editGiftForm.get('giftPrice').touched" class="error-message">Price must be greater than zero</div> <!-- Display the error message conditionally -->
    </label>
  </div><br>

  <div *ngIf="errorMessage" class="error-message">
    *{{ errorMessage }}
  </div>

  <div class="add-btn">
    <button type="submit">Update Gift</button>
    <button type="submit" (click)="onCancel()" class="cancel">Cancel</button>
  </div>
</form>


