<!-- Employee  Navigation -->

<ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isManager">

            <a routerLinkActive="active">Employee</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/proposal/create">View</a></li>                
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">ProjectProposal</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/proposal/view">Views</a></li>
                <li><a routerLink="/manager/proposal/update">Edit</a></li>                         
            </ul>
        </li>

        <li *ngIf="isManager">
            <a routerLinkActive="active">Project</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/project/create">create</a></li>
                <li><a routerLink="/manager/project/view">View</a></li>
                <li><a routerLink="/manager/project/update">Edit</a></li>             
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">Task</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/task/create">create</a></li>
                <li><a routerLink="/manager/task/view">View</a></li>
                <li><a routerLink="/manager/task/edit">Edit</a></li>
                <li><a routerLink="manager/task/delete">Delete</a></li>             
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">Feedbacks</a>
            <ul class="sub-menu">
               
                <li><a routerLink="/manager/feedback/view">View Feedback</a></li>
            </ul>
        </li>




    </ng-container>
</ul>