<div class="container">
  <h1>View Products</h1>
  <div class="card-container">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.imageUrl" alt="Product Image">
      <div class="card-body">
        <h3>{{ product.name }}</h3>
        <p class="price">$ {{ product.price }}</p>
        <p>{{ product.description }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <button class="btn-delete" (click)="deleteProduct(product.productId)">Delete</button>
        <button class="btn-edit" (click)="editProduct(product)">Edit</button>
      </div>
    </div>
  </div>

  <!-- Edit Form -->
  <div *ngIf="editingProduct" class="edit-form">
    <h2>Edit Product</h2>
    <form (ngSubmit)="updateProduct()" #editForm="ngForm">
      <label>ID</label>
      <input type="text" [(ngModel)]="editingProduct.id" name="id" readonly>

      <label>Name</label>
      <input type="text" [(ngModel)]="editingProduct.name" name="name" required>

      <label>Description</label>
      <textarea [(ngModel)]="editingProduct.description" name="description" required></textarea>

      <label>Price</label>
      <input type="number" [(ngModel)]="editingProduct.price" name="price" required>

      <label>Category</label>
      <input type="text" [(ngModel)]="editingProduct.category" name="category" required>

      <button type="submit">Update</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
