<div class="container">
  <h1>View Products</h1>
  <div class="card-container">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.imageUrl" alt="Product Image">
      <div class="card-body">
        <h3>{{ product.name }}</h3>
        <p class="price">$ {{ product.price }}</p>
        <p>{{ product.description }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <button class="btn-delete" (click)="deleteProduct(product.productId)">Delete</button>
        <button class="btn-edit" (click)="editProduct(product)">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- Include the EditProductComponent and listen to the productUpdated event -->
<app-edit-product (productUpdated)="onProductUpdated()"></app-edit-product>
