<app-customerdashboard></app-customerdashboard>

<div *ngIf="hasCustomerId(); else giftsList">
    <div class="modal-content">
        <form (ngSubmit)="onSubmit()">
            <h2>Fill Your Details</h2>
            <div class="form-group">
              <label for="name" style="position: relative;"> <!-- Add relative positioning to the label -->
                Name:
                <input type="text" id="name" [(ngModel)]="name" name="name" required>
                <div *ngIf="!name" class="error-message" style="position: absolute; top: 0; right: 0;">*</div> <!-- Display the asterisk conditionally -->
              </label>
            </div>
          
            <div class="form-group">
              <label for="address" style="position: relative;"> <!-- Add relative positioning to the label -->
                Address:
                <textarea id="address" [(ngModel)]="address" name="address" required></textarea>
                <div *ngIf="!address" class="error-message" style="position: absolute; top: 0; right: 0;">*</div> <!-- Display the asterisk conditionally -->
              </label>
            </div>
          
            <button type="submit" [disabled]="!name || !address">Submit</button>
          </form>
          
    </div>
</div>

<ng-template #giftsList>
    <div class="gifts-container">
        <div class="gift" *ngFor="let gift of gifts">
            <img [src]="gift.giftImageUrl" alt="{{gift.giftType}}">
            <h2>Gift Type: {{gift.giftType}}</h2>
            <p>Gift Details: {{gift.giftDetails}}</p>
            <p>Price: {{gift.giftPrice}}</p>
            <p>Available Quantity: {{gift.quantity}}</p>
            <button (click)="goToCart(gift)" [disabled]="gift.addedToCart">Add to Cart</button>
        </div>
    </div>
</ng-template>
<div *ngIf="showPopup" class="popup">{{ popupMessage }}</div>
