.page-content {
  margin-top: 20px;
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.page-content.blur {
  filter: blur(2px);
}

#backButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333;
}

#searchBox {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

#searchBox:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #3276a6;
  color: white;
}

#sortButtonsone {
  background-color: #fff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#sortButtonstwo {
  background-color: #fff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

hr {
  border: none;
  border-top: 2px solid #3276a6;
  color: #3276a6;
  overflow: visible;
  text-align: center;
  height: 8px;
  margin-bottom: 2%;
}

#redButton {
  background-color: #dc3545; /* Red background */
  color: white; /* White text */
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 7px;
  width: 100px;
}

#redButton:hover {
  background-color: #c82333; /* Darker red on hover */
}

.pagination-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 28px;
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  transition: background-color 0.3s;
  border-radius: 5px;
}

.pagination-button:disabled {
  background-color: #ccc; /* Gray background */
  color: #888; /* Dark gray text */
}

.pagination-button:hover:not(:disabled) {
  background-color: #45a049; /* Darker green on hover */
}

.enroll-popup {
  position: fixed;
  background-color: #e6dfdf;
  padding: 30px;
  left: 40%;
  bottom: 35%;
  border-radius: 7px;
}

.confirm-enroll-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #dc3545; /* Red background */
  color: white; /* White text */
  transition: background-color 0.3s;
  border-radius: 6px;
}

.confirm-enroll-button:hover {
  background-color: #c82333; /* Darker red on hover */
}

.cancel-enroll-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #6c757d; /* Gray background */
  color: white; /* White text */
  transition: background-color 0.3s;
  border-radius: 6px;
}

.cancel-enroll-button:hover {
  background-color: #5a6268; /* Darker gray on hover */
}

span {
  padding-left: 10px;
  padding-right: 10px;
}

p{
  font-size: 17px;
}
