<div class="main-container">
    <div class="sub-container">
        <button class="back-btn" (click)="goBack()">Back</button>

        <ng-container *ngIf="isEditMode; else addRefereeForm">
            <h1>Edit Referee</h1>
        </ng-container>
        <ng-template #addRefereeForm>
            <h1>Create New Referee</h1>
        </ng-template>

        <form [formGroup]="refereeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="RefereeName">Referee Name<span class="asterisk">*</span></label>
                <input type="text" id="RefereeName" formControlName="RefereeName">
                <div *ngIf="refereeForm.get('RefereeName').hasError('required') && refereeForm.get('RefereeName').touched" class="error-message">
                    *Referee Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="RefereeImage">Referee Image<span class="asterisk">*</span></label>
                <input type="text" id="RefereeImage" formControlName="RefereeImageURL">
                <div *ngIf="refereeForm.get('RefereeImageURL').hasError('required') && refereeForm.get('RefereeImageURL').touched" class="error-message">
                    *Referee Image is required.
                </div>
            </div>

            <div class="form-group">
                <label for="NoOfMatches">Number of Matches<span class="asterisk">*</span></label>
                <input type="number" id="NoOfMatches" formControlName="NoOfMatches" [min]="1">
                <div *ngIf="refereeForm.get('NoOfMatches').hasError('required') && refereeForm.get('NoOfMatches').touched" class="error-message">
                    *Number of Matches is required.
                </div>
            </div>

            <div class="button-submit">
                <button class="button-submit" type="submit">{{ isEditMode ? 'Update Referee' : 'Create Referee' }}</button>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                *{{ errorMessage }}
            </div>
        </form>
    </div>
</div>
