<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li><a routerLink="/student/view/course" *ngIf="isCustomer">Courses</a></li>
      <li><a routerLink="/student/view/mycourse" *ngIf="isCustomer">Enrolled Course</a></li>
      <li *ngIf="isCustomer">
        <a routerLinkActive="active">Feedback</a>
        <ul class="sub-menu">
          <li><a routerLink="/user/add/feedback">Post Feedback</a></li>
          <li><a routerLink="/user/view/feedback">My Feedbacks</a></li>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>

