<div class="container">
    <h2>Fitness Class List</h2>
  
    <div *ngIf="fitnessClasses.length === 0" class="no-classes-message">
        No fitness classes available.
    </div>
  
    <table *ngIf="fitnessClasses.length > 0" class="fitness-table">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Instructor Name</th>
                <th>Class Date</th>
                <th>Duration (minutes)</th>
                <th>Location</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fitnessClass of fitnessClasses" class="fitness-item">
                <td>{{ fitnessClass.className }}</td>
                <td>{{ fitnessClass.instructorName }}</td>
                <td>{{ fitnessClass.classDate | date: 'mediumDate' }}</td>
                <td>{{ fitnessClass.duration }}</td>
                <td>{{ fitnessClass.location }}</td>
                <td>
                    <button id="delete" class="delete-button" (click)="deleteFitnessClass(fitnessClass.classId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
