<nav>
  <div class="container">
    <div class="logo">
      Ecommerce Website
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/signup">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <li><a routerLink="/">Home</a></li>
        <li *ngIf="isAdmin"><a routerLink="/admin/addProducts">Add Products</a></li>
        <li *ngIf="isAdmin"><a routerLink="/admin/viewProducts">View Products</a></li>
        <li *ngIf="isUser"><a routerLink="/user/viewProducts">View Products</a></li> 
        <li><a id="logout" (click)="logout()">Logout</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
