nav {
    background-color: #ff7300;
    color: #fff;
    padding: 10px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .nav-links {
    list-style: none;
    display: flex;
  }

  /* .nav-links li {
    margin-right: 20px;
  width: 100px;

  } */

  .nav-links a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  /* Example using Flexbox */
.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links li {
  flex: 1;
  width: 100px;

  text-align: center;
}


/* .nav-links li {
  width: 100px;
} */
