<div>
  <div class="container" [ngClass]="{ blur: successPopup }">
    <div class="button-container">
      <button (click)="navigateBack()">Back</button>
    </div>
    <h2>Add Material</h2>

    <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title<span class="required">*</span></label>
        <input id="title" type="text" formControlName="title" />
        <div *ngIf="materialForm.controls['title']?.touched && materialForm.controls['title'].hasError('required')" class="error">
          *Title is required
        </div>
      </div>

      <div>
        <label for="description">Description<span class="required">*</span></label>
        <input id="description" type="text" formControlName="description" />
        <div *ngIf="materialForm.controls['description']?.touched && materialForm.controls['description'].hasError('required')" class="error">
          *Description is required
        </div>
      </div>

      <div>
        <label for="url">URL<span class="required">*</span></label>
        <input id="url" type="text" formControlName="url" />
        <div *ngIf="materialForm.controls['url']?.touched && materialForm.controls['url'].hasError('required')" class="error">
          *URL is required
        </div>
      </div>

      <div>
        <label for="contentType">Content Type<span class="required">*</span></label>
        <input id="contentType" type="text" formControlName="contentType" />
        <div *ngIf="materialForm.controls['contentType']?.touched && materialForm.controls['contentType'].hasError('required')" class="error">
          *Content Type is required
        </div>
      </div>

      <div *ngIf="errorMessage" class="error">
        *{{ errorMessage }}
      </div>

      <div>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
  <div *ngIf="successPopup" class="success-popup">
    <p>Successfully Added!</p>
    <button (click)="handleSuccessMessage()">Ok</button>
  </div>
</div>
