<div class="container">
  <h2>Book List</h2>

  <div *ngIf="books.length === 0" class="no-books-message">
      No books available.
  </div>

  <table *ngIf="books.length > 0" class="book-table">
      <thead>
          <tr>
              <th>title</th>
              <th>author</th>
              <th>category</th>
              <th>publicationYear</th>
              <th>publisher</th>
              <th>price</th>
              <th>numberOfPages</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of books" class="book-item">
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.category }}</td>
              <td>{{ book.publicationYear }}</td>
              <td>{{ book.publisher }}</td>
              <td>${{ book.price }}</td>
              <td>{{ book.numberOfPages }}</td>
          </tr>
      </tbody>
  </table>
</div>
