<div class="container">
    <h2>Book List</h2>
  
    <div *ngIf="books.length === 0" class="no-books-message">
      No books available.
    </div>
  
    <div *ngFor="let book of books" class="book-item">
      <div class="book-details">
        <h3>{{ book.title }}</h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Category:</strong> {{ book.category }}</p>
        <p><strong>Publication Year:</strong> {{ book.publicationYear }}</p>
        <p><strong>Publisher:</strong> {{ book.publisher }}</p>
        <p><strong>Price:</strong> ${{ book.price }}</p>
        <p><strong>Number of Pages:</strong> {{ book.numberOfPages }}</p>
      </div>
    </div>
  </div>

