<form>
    <div class="form-group">
      <label for="expenseDetails">Expense Details</label>
      <input type="text" class="form-control" id="expenseDetails" [(ngModel)]="expenseDetails" name="expenseDetails" required>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" [(ngModel)]="category" name="category" required>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="amount" name="amount" required>
    </div>
    <div class="form-group">
      <label for="paymentMode">Payment Mode</label>
      <input type="text" class="form-control" id="paymentMode" [(ngModel)]="paymentMode" name="paymentMode" required>
    </div>
    <div class="form-group">
      <label for="expenseDate">Expense Date</label>
      <input type="date" class="form-control" id="expenseDate" [(ngModel)]="expenseDate" name="expenseDate" required>
    </div>
    <button type="button" class="btn btn-primary" (click)="addExpense()">Add Expense</button>
  </form>
  
  <a routerLink="getExpense">Expense List</a>