<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li *ngIf="isAdmin">
        <a routerLinkActive="active">Resort</a>
        <ul class="sub-menu">
          <!-- <li><a routerLink="/admin/add/resort">Add Resort</a></li>
          <li><a routerLink="/admin/view/resort">View Resort</a></li> -->
        </ul>
      </li>
      <!-- <li *ngIf="isAdmin"><a routerLink="/admin/view/bookings">Bookings</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin/view/review">Reviews</a></li> -->
    </ng-container>
  </ul>
</nav>
