<div id="adminTeamDashboard" [ngClass]="{ blur: showDeletePopup }">
    <div class="top-head">
        <button class="add-btn-grad" (click)="navigateToAddTeam()">Add Team</button>
    </div>
    <h1>Team Dashboard</h1>

    <div class="team-grid">
        <!-- <div *ngIf="teams.length > 0; else noRecords"> -->
            <div class="team-item" *ngFor="let team of teams">
                <div class="team-details">
                    <img [src]="team.TeamImageURL" alt="Team Image" class="team-image" />
                    <h2>{{ team.TeamName }}</h2>
                    <p>{{ team.TeamDescription }}</p>
                </div>
                <div class="team-actions">
                    <button class="delete-btn-grad btn-danger" (click)="showDeletePopup = true; selectedTeam = team;">
                        Delete
                    </button>
                    <button class="edit-btn-grad" (click)="navigateToEditTeam(team)">Edit</button>
                    <button class="view-btn-grad" (click)="viewPlayerInfo(team.TeamId)">View Player Info</button>

                </div>
            </div>
        <!-- </div> -->
        <!-- <ng-template #noRecords>
            <div id="no-records">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-data-found-8867280-7265556.png?f=webp" alt="No Records Found" />
                <h1>No records found</h1>
            </div>
            
        </ng-template> -->
    </div>
</div>

<div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button (click)="deleteTeam(selectedTeam); showDeletePopup = false" id="delete-btn">
        Yes, Delete
    </button>
    <button (click)="showDeletePopup = false" class="cancel-btn">Cancel</button>
</div>
