
<div>
    <div id="loanHomeBody">
      <h1>Available Proposal</h1>
      <hr>
  
      <!-- Search Box -->
      <div class="top-container">
        <input
          id="searchBox"
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchField"
          (ngModelChange)="handleSearchChange($event)"
        />
  
      </div>
  
      <!-- Available Proposal Table -->
      <table class="loan-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>UserId</th>
            <th>ProposalTitle</th>
            <th>ProposalDescription</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="filteredproposal.length; else noRecords">
            <tr *ngFor="let proposal of filteredproposal,let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ proposal.UserId }}</td>
              <td>{{ proposal.ProposalTitle }}</td>
              <td>{{ proposal.ProposalDescription }}%</td>
              <td>{{ proposal.Status }}</td>
              <td>
                <!-- <button
                  id="greenButton"
                  *ngIf="!isLoanApplied(loan)"
                  (click)="handleApplyClick(loan)"
                >
                  Apply
                </button> -->
                <!--   -->
              </td>
            </tr>
          </tbody>
        <ng-template #noRecords>
          <tbody>
            <tr>
              <td colSpan="6" class="no-records-cell">Oops! No records Found</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
  
