<div class="course-form-container" [class.blur]="successPopup">
  <button type="button" id="backButton" (click)="navigateToDashboard()">
    Back
  </button>
  <h2>Edit Course</h2>
  <hr>
  <form #courseForm="ngForm" (ngSubmit)="handleUpdateCourse(courseForm)">
    <label for="Title">Title<span class="required">*</span></label>
    <input
      id="Title"
      type="text"
      name="Title"
      [(ngModel)]="formData.Title"
      placeholder="Course Title"
      required
      #Title="ngModel"
      (change)="handleChange($event, 'Title')"
    />
    <div class="error" *ngIf="Title.invalid && Title.touched">
      *Title is required
    </div>

    <label for="Description">Description<span class="required">*</span></label>
    <input
      id="Description"
      type="text"
      name="Description"
      [(ngModel)]="formData.Description"
      placeholder="Course Description"
      required
      #Description="ngModel"
      (change)="handleChange($event, 'Description')"
    />
    <div class="error" *ngIf="Description.invalid && Description.touched">
      *Description is required
    </div>

    <label for="CourseStartDate">Course Start Date<span class="required">*</span></label>
    <input
      id="CourseStartDate"
      type="date"
      name="CourseStartDate"
      [(ngModel)]="formData.CourseStartDate"
      placeholder="Course Start Date"
      required
      #CourseStartDate="ngModel"
      (change)="handleChange($event, 'CourseStartDate')"
    />
    <div class="error" *ngIf="CourseStartDate.invalid && CourseStartDate.touched">
      *Course Start Date is required
    </div>

    <label for="CourseEndDate">Course End Date<span class="required">*</span></label>
    <input
      id="CourseEndDate"
      type="date"
      name="CourseEndDate"
      [(ngModel)]="formData.CourseEndDate"
      placeholder="Course End Date"
      required
      #CourseEndDate="ngModel"
      (change)="handleChange($event, 'CourseEndDate')"
      [min]="formData.CourseStartDate"
    />
    <div class="error" *ngIf="CourseEndDate.invalid && CourseEndDate.touched">
      *Course End Date is required
    </div>

    <label for="Category">Category<span class="required">*</span></label>
    <input
      id="Category"
      type="text"
      name="Category"
      [(ngModel)]="formData.Category"
      placeholder="Category"
      required
      #Category="ngModel"
      (change)="handleChange($event, 'Category')"
    />
    <div class="error" *ngIf="Category.invalid && Category.touched">
      *Category is required
    </div>

    <label for="Level">Level<span class="required">*</span></label>
    <select
      name="Level"
      [(ngModel)]="formData.Level"
      required
      #Level="ngModel"
      (change)="handleChange($event, 'Level')"
    >
      <option value="" disabled>Select Level</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
    <div class="error" *ngIf="Level.invalid && Level.touched">
      *Level is required
    </div>

    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <button type="submit">Update Course</button>
  </form>
</div>
<div class="success-popup" *ngIf="successPopup">
  <p>Updated successfully</p>
  <button type="button" (click)="handleOkClick()">OK</button>
</div>
