<app-customerdashboard></app-customerdashboard>
<div class="container">
  <div *ngFor="let giftData of gifts">
    <h2>{{ giftData.giftType }}</h2>
    <img [src]="giftData.giftImageUrl" alt="{{ giftData.giftType }}" />
    <p>{{ giftData.giftDetails }}</p>
    <p>Price: {{ giftData.giftPrice }}</p>
    <p>Available Quantity: {{ giftData.quantity }}</p>
    <p>
      Quantity:
      <input type="number" class="userquantity" style="width: 50px;" [min]="1" [max]="giftData.quantity" [(ngModel)]="giftData.userQuantity" (ngModelChange)="validateQuantity(giftData)">
      <span *ngIf="giftData.userQuantity > giftData.quantity" style="color: red;">Quantity exceeds available quantity!</span>
    </p>
    <button (click)="removeFromCart(giftData.giftId)" id="remove-btn" class="remove">Remove from Cart</button>
  </div>
</div>
<div class="button-container">
  <button (click)="placeOrder()" class="order">Place Order</button>
</div>
