@model GuitarBookingSystem.Models.Student
<center>
    <h1>Enroll in Guitar Class</h1>
</center>
<form action="ClassEnrollmentForm" method="post">
    <div class="form-group">
        <label for="Name">Your Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
    </div>
    <div class="form-group">
        <label for="Email">Your Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
    </div>
    <input type="hidden" name="ClassID" value="@Model.ClassID" />
    <button type="submit" class="btn btn-primary" id="enrollButton">Enroll</button>
</form>
