@model Class
<center>
<h1>Enroll in Guitar Class</h1>
</center>
<form asp-action="ClassEnrollmentForm" asp-route-id="@Model.ClassID" method="post">
    <div class="form-group">
        <label for="name">Your Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary" id="enrollButton">Enroll</button>
</form>
